 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 624px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px auto 0 20px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 99px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 15px;
}

.u-section-1 .u-form-1 {
  height: 47px;
  margin: 0 25px 0 5px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 99px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 27px 30px;
}

.u-section-1 .u-social-icons-1 {
  height: 45px;
  min-height: 16px;
  width: 210px;
  min-width: 94px;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 52px 750px 0 25px;
}

.u-section-1 .u-image-1 {
  width: 100px;
  height: 99px;
  background-image: url("images/cebeb11125c6c963b6a04fc48f61182.jpg");
  background-position: 50% 50%;
  margin: 100px 979px 0 61px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -70px auto 60px 199px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-text-1 {
    font-weight: normal;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 82px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 82px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 575px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 99px;
    margin-right: 840px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 355px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 620px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 175px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 440px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 149px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 77px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 240px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 94px;
  }
} .u-section-2 {
  min-height: 708px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 708px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 708px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-group-1 {
  width: 472px;
  min-height: 613px;
  margin: 22px auto 0 -236px;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 106px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 708px;
  background-image: url("images/7c62f9fc1b977eee788f421e5145fa7.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 705px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 705px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 705px;
  }

  .u-section-2 .u-group-1 {
    width: 469px;
    min-height: 623px;
    margin-left: -265px;
  }

  .u-section-2 .u-image-1 {
    min-height: 705px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 644px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 644px;
  }

  .u-section-2 .u-group-1 {
    width: 381px;
    min-height: 560px;
    margin-left: -225px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 644px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1872px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-1 {
    width: 554px;
    margin-top: -60px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 1073px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1223px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 113px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 676px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 667px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 467px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 27px 30px;
}

.u-section-3 .u-image-1 {
  width: 213px;
  height: 213px;
  background-image: url("images/cebeb11125c6c963b6a04fc48f61182-4.jpg");
  background-position: 50% 50%;
  margin: -95px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Georgia, serif;
  margin: 24px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 46px;
  min-height: 16px;
  width: 220px;
  min-width: 100px;
  margin: 58px auto 0;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 467px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin-top: 19px;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 58px auto 0 0;
  padding: 18px 46px 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 152px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 385px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 812px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 355px;
  background-image: url("images/c2054c88b61683933031860d6838197.jpg");
  background-position: 50% 0%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 355px;
  background-image: url("images/231156ce864cdf68ce8ec4da608f6c5.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  min-height: 329px;
  background-image: url("images/595d7f60e388652232aeda9a3f4f096.jpg");
  background-position: 50% 21.47%;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  min-height: 241px;
  background-image: url("images/57cd2966e2199a959f6b956d2741ce4.jpg");
  background-position: 50% 0%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 241px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-5 {
  min-height: 481px;
  background-image: url("images/e8be7a6fb5c361ddba9dfcf8bbb8116.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-4 .u-image-1 {
    min-height: 293px;
  }

  .u-section-4 .u-image-2 {
    min-height: 325px;
  }

  .u-section-4 .u-image-3 {
    min-height: 271px;
  }

  .u-section-4 .u-image-4 {
    min-height: 199px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 199px;
  }

  .u-section-4 .u-text-1 {
    font-weight: normal;
    text-transform: none;
  }

  .u-section-4 .u-image-5 {
    min-height: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1578px;
  }

  .u-section-4 .u-image-1 {
    min-height: 224px;
  }

  .u-section-4 .u-image-2 {
    min-height: 249px;
  }

  .u-section-4 .u-image-3 {
    min-height: 311px;
  }

  .u-section-4 .u-image-4 {
    min-height: 229px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-image-5 {
    min-height: 912px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2090px;
  }

  .u-section-4 .u-image-1 {
    min-height: 504px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 280px;
  }

  .u-section-4 .u-image-3 {
    min-height: 467px;
  }

  .u-section-4 .u-image-4 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 684px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-4 .u-image-1 {
    min-height: 317px;
  }

  .u-section-4 .u-image-2 {
    min-height: 190px;
  }

  .u-section-4 .u-image-3 {
    min-height: 294px;
  }

  .u-section-4 .u-image-4 {
    min-height: 217px;
  }

  .u-section-4 .u-image-5 {
    min-height: 431px;
  }
}